.dialogs{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
}

.message__items{
    margin: 20px 0;
}

.messages{
    margin: 2% 0;
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 96%;
    border-left: 1px solid black;
}
