nav{
  display: block;
}

.App{ 
  padding: 2vh ;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 'header header' 'menu content';
  grid-gap: 10px;
  height: 96vh;
  background-color: white;
}

.header, .menu, .content{
  display: block;
  background-color: rgb(150, 236, 239);
  border-radius: 30px;
}

.header{
  height: 60px;
  grid-area: header;
  &__logo{
    display: block;
    height: 80%;
  }
}

.menu{
  grid-area: menu;
}

.content{
  grid-area: content;
  overflow: auto;
}