.post__container{
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.post__content{
    padding: 10px;
    border: 1px dotted black;
    width: 100%;
    display: flex;
    justify-content: center;
}